body{
    margin:0px

}
.navbar1{
 border:0px solid blue;
height:40px;
display:flex;
justify-content: space-between;
background-color: black;
}
.image1{
    border: 0px solid red;
  background-color: black;
}
.image1>img{
height:40px;
padding-left: 150px;
cursor: pointer;
}
.image1+div{
border:0px solid green;
background-color: black;
color: white;

}
.image1+div>p{
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
font-size: 14px;
cursor: pointer;
}
.image2{
    border: 0px solid red;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
.image2>img{
height:40px;
padding-left: 40px;
}
.image2+div{
border:0px solid green;
background-color: black;
color: white;

}
.image2+div>p{
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
font-size: 14px;
cursor: pointer;
}
.image3{
    border: 0px solid red;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
.image3>img{
height:40px;
padding-left: 40px;
}
.image3+div{
border:0px solid green;
background-color: black;
color: white;

}
.image3+div>p{
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
font-size: 14px;
cursor: pointer;
}
.left{
border:0px solid blue;
display: flex;
}
.right{
border:0px solid teal;
display: flex;
margin-right: 100px;
}
.right1{
border:0px solid grey;
padding-right: 10px;
background-color: black;
color: white;
border-top: 0px;
border-bottom: 0px;
border-left: 0px;
cursor: pointer;
}
.right2{
border:0px solid grey;
padding-right: 10px;
background-color: black;
color: white;
padding-left: 10px;
border-top: 0px;
border-bottom: 0px;
cursor: pointer;
}
.right3{
border:0px solid grey;
padding-right: 10px;
background-color: black;
color: white;
padding-left: 10px;
border-top: 0px;
border-bottom: 0px;
border-right: 0px;
cursor: pointer;
}
.navbar2{
border:0px solid green;
height:60px;
display: flex;
background-color: rgb(247,248,247);
width:90%;
margin-left: 120px;
}
.navbar2>div>img{
border:0px solid pink;
height:60px;
width:100%

}
.navbar2>div:nth-child(2){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(3){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(4){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(5){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(6){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(7){
border:0px solid blue;
width:29%;
display:flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(7)>input{
width:100%;
height:70%
}
.navbar2>div:nth-child(8){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.navbar2>div:nth-child(9){
border: 0px solid blue;
display:flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
.img2{
border:0px solid blueviolet
}
.img3{
border:0px solid orange;

}
.img3>img{
height: 300px;
}
.navbar3{
border:1px solid orange;
text-align: center;
background-color: orange;
color:white;
font-family: Arial, Helvetica, sans-serif;
}